<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <title>To-Do List</title>
  </head>
  <body>
    <div class="main__container">
      <h1>To-Do List</h1>
      <form action="/add" method="post">
        <div class="search__container">
          <input class="search__box" placeholder="Enter new task..." type="text" name="name" />
          <button class="search__button" type="submit">Add Task</button>
        </div>
      </form>
      
      <!-- <table class="table__container">
        <tbody>
          {% for todo in todo_list %}
          <tr class="table__row">
            <td>{{todo.name}}</td>
            {% if todo.done == False %}
            <td>Not Done</td>
            {% else %}
            <td>Done</td>
            {% endif %}
            <td><a href="/update/{{todo.task_id}}"">Update</a></td>
            <td><a href="/delete/{{todo.task_id}}">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
      <div class="list__container">
        <ul class="list__main">
          {% for todo in todo_list %}
          <li class="list__item">
            <div class="item__container">
              <p>{{todo.name}}</p>
              {% if todo.done == False %}
              <p class="task__notdone">Not Done</p>
              {% else %}
              <p class="task__done">Done</p>
              {% endif %}
              <button class="update">
                <a href="/update/{{todo.task_id}}"">Update</a>
              </button>
              <button class="delete">
                <a href="/delete/{{todo.task_id}}">Delete</a>
              </button>
            </div> 
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
